body {
    background-color: #1D1E20;
    color: #000101;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bauhaus 93', sans-serif;
    color: #F4B43F;
}

a {
    color: #F4B43F;
    text-decoration: none;
}

.container {
    padding: 2rem;
}

/* Additional styling based on Bauhaus & Extremism aesthetics */
